img {
  display: block;
  max-width: 100%;
  height: auto;
}

.detailName {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.genresContainer {
  display: flex;
}

.overview {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.detailBasic {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  margin: 5px 0 5px 5px;
  margin-bottom: 5px;
}

.detailBasicBold {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  margin: 5px 0 5px 0px;
}

.detailBox {
  display: flex;
}

.detailImage {
  display: block;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}
